<h1>Palindrome Tester</h1>
<form action="/result">
  <div class="form-group">
     <label for="testword">Test for Palindrome</label>
     <input id="testword" name="testword" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
